__pycache__/
*.py[cod]

*.so

results/
app/1-le-stats-sportif.code-workspace
file.log
app.log
git-log
.gitignore
nutrition_activity_obesity_usa_subset.csv

venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
